@import url('https://fonts.googleapis.com/css2?family=Allura&family=Pacifico&family=Redressed&family=Sacramento&family=Tangerine:wght@700&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100rem;
}

.header {
  color: #EB984E;
  font-family: Pacifico, Poppins,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
  padding: 15px 0 20px 0;
}

.header span {
  font-size: 3rem;
}

.custom-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #888;
}

.custom-select select {
  display: block;
  width: 250px;
  min-height: 35px;
  background: #cbe7ff;
  border-radius: 3px;
  border: 2px solid #AED6F1;
  outline: none;
  padding: 0 20px 0 10px;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-family: Redressed;
  font-size: 1.3rem;
}

.custom-select::after {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-select .selector-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background:#AED6F1;
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
}

.custom-select .selector-options li {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-select .selector-options li:hover {
  background: #03A9F4;
}

.sub-header {
  color: #239B56;
  letter-spacing: 3px;
  font-size: 2rem;
  font-family: Allura ;
  padding: 15px 0;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* width: 400px; */
  background: #2f313a;
  color:aliceblue;
  border-radius: 20px;
  margin: 10px;
  border: #EB984E solid 1px;
}
.quote{
  padding: 12px 10px;
  font-size: 17px;
  line-height: 22px;
}

.quote {
  font-family: Tangerine;
  letter-spacing: 0.5px;
  font-size: 2em;
  line-height: 2rem;
}

.author {
  color: #D0D3D4;
  font-family: Sacramento;
  font-size: 30px;
}

.button {
  margin: 10px;
  height: 2rem;
  width: 6rem;
  border-radius: 20px;
  border: none;
  background-color: #ABEBC6;
  color: #212F3D;
  font-family: Redressed;
  font-size: large;
  font-weight: 700;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f8ff;
  font-size: 2rem;
  font-family: Redressed;
}

.loading-text {
  width: 90%;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

